* {
    margin: 0;
    padding: 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

html, body {
    height: 100%;
}

/* above section for defaut overrides */
@font-face {
    font-family: "Norse Bold";
    src: url(./assets/Norse-Bold.otf);
}

:root {
    --button-border-radius: 8px;
    --button-bg: #00ff00;
    --input-border-radius: 4px;
    font-family: system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

body {
    display: flex;
}

input {
    outline: none;
    border-radius: var(--input-border-radius);
}

.italic {
    font-style: italic;
}

.page-left-side {
    width: 340px;
    background-image: url(./assets/main-bg-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    color: white;
}

/* to position the texts, change height to move the texts up/down */
.page-left-side::before {
    content: "";
    height: 100px;
}

.page-left-side-texts {
    font-size: 50px;
    font-weight: 100;
    font-family: "Norse Bold";
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .85rem;
    background-color: rgba(0, 0, 0, 0.6);
}

.page-left-side-texts > img {
    height: 85px;
}

.page-left-side-copyright-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1rem;
    color: rgba(255, 255, 255, 0.7);
}

.page-left-side-copyright-section a {
    text-decoration: underline;
}

.page-left-side-copyright-section a:hover {
    color: rgba(255, 255, 255, 0.9);
}

.page-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.page-contents-positioner {
    height: 90%;
}

.upper-welcoming-text {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}